.App {
  justify-content: initial;
  background: #0B0C10;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media all and (min-width: 600px) {
  img {
    padding-top: 10px;
    max-width: 300px;
  }

  .intro {
    align-items: center;
  }
}