.App {
  justify-content: initial;
  background: #0B0C10;
}

@media all and (min-width: 400px) {
  img {
    padding-top: 10px;
    max-width: 350px;
  }

  .intro {
    display: inline-flex;
    align-items: center;
  }
}